input {
  border:none;
  border-bottom: 2px solid black;
  height: 40px;
  font-size: 20px;
}

.inputDiv {
  display: flex;
  flex-direction: column-reverse;
}

input:focus  {
  outline: none;
  border-bottom: 2px solid #4d90cf;
}
input:focus + label{
  color: #4d90cf;
}

#fileUpload {
  display: none;
}

.menuBtn {
  display:flex;
  flex-direction: row;
}
.menuBtn  h4 {
  padding: 10px 15px;
}

.menuBtn:hover   h4 {
  background-color: #a9c1e9a4;
  color: #3ca2f2;
  border-radius: 30px;
  /* padding: 10px; */

}

.tweetDiv input {
    border: none;
}
.tweetDiv {
  padding: 20px;
  border-bottom: 10px solid #80808086;
}

.profilPic {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
  z-index: 2;
  margin-left: 5px;
  margin-top: -75px;
}
.logout {
  width: 300px;
  position: fixed;
  bottom: 0;
}
/* div {
  border: 1px solid black;
} */