input {
  border:none;
  border-bottom: 2px solid black;
  height: 40px;
  font-size: 20px;
}

.inputDiv {
  display: flex;
  flex-direction: column-reverse;
}

input:focus  {
  outline: none;
  border-bottom: 2px solid #4d90cf;
}
input:focus + label{
  color: #4d90cf;
}

#fileUpload {
  display: none;
}

.menuBtn {
  display:flex;
  flex-direction: row;
}
.menuBtn  h4 {
  padding: 10px 15px;
}

.menuBtn:hover   h4 {
  background-color: #a9c1e9a4;
  color: #3ca2f2;
  border-radius: 30px;
  /* padding: 10px; */

}
